{{>header}}
<title>CRUD | Home</title>
{{>navbar}}
<div class="container-fluid my-3 mid-section">
    <h5 class="background text-light text-center p-2">Employee Record</h5>
   <div class="table-responsive">
     <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>City</th>
                <th>State</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
                {{# each data}}
                  <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td><a class="text-decoration-none" href="mailto:{{email}}">{{email}}</a></td>
                    <td><a class="text-decoration-none" href="tel:{{phone}}">{{phone}}</a></td>
                    <td>{{designation}}</td>
                    <td>{{salary}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td><a href="/edit/{{_id}}"><span class="material-symbols-outlined">
edit
</span></a></td>
<td><a href="/delete/{{_id}}"><span class="material-symbols-outlined">
delete_forever
</span></a></td>
                  </tr>
                {{/ each}}
        </tbody>
    </table>
   </div>
</div>
{{>footer}}